header
  margin: 0px
  display: flex
  justify-content: space-between

.menu
  align: center



a
  font-size: large
  text-decoration: none
  margin:
    left: 15px
    right: 15px

  color : grey
  &:hover
    color: black

#home
  font-weight: bold
  color: black

  
button.menu
  display : none