header
  margin: 0px
  display: flex
  justify-content: space-between
  padding: 15px
    left: 80px
    right: 80px

.menu
  align: center



a
  text-decoration: none
  margin:
    left: 5px
    right: 5px

  color : grey
  &:hover
    color: black

  
button.menu
  display : none