<p>header works!</p>
<header>
    <!--<logo></logo>-->
    <h4>TP1 - DENOYELLE + LENY</h4>
            <button class="menu">MENU</button>
            <nav class="menu">
                <h4>
                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Accueil</a>
                    <a href="https://github.com/lenyDENOYELLE">Page1</a>
                    <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript">Page2</a>
                    Page3
                </h4>
            </nav>
</header>