<footer>
    <div>
        <!--Logo-->
        <p>texte</p>
        <p>Trafalgar py</p>
    </div>
    <ul>
        <h5>Company</h5>
        <li>About</li>
        <li>Testimonials</li>
        <li>Find a doctor</li>
        <li>Apps</li>
    </ul>
    <ul>
        <h5>Region</h5>
        <li>Indonesia</li>
        <li>Singapore</li>
        <li>Hongkong</li>
        <li>Canada</li>
    </ul>
    <ul>
        <h5>Help</h5>
        <li>Help center</li>
        <li>Contact support</li>
        <li>Instructions</li>
        <li>How it works</li>
    </ul>
</footer>
