* {
    background-color: lightblue;
}

header{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0px;
}

main{
    margin-left: 40px;
    margin-right: 40px;
}

.card{
    padding: none;
    border: solid;
    border-width: 2px;
}


.imgcard {
    text-align: center;
    height: 100;
    padding: none;
    align-content: center;
}

.contentcard {
    padding: 10px;
}

.grid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    row-gap: 10px;
}

footer{
    background-color:honeydew ;
}

a{
    text-decoration: none;
    color: black;
}

#menu{
    border: 12px;
}

@media screen and (width >= 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        max-width: 600px;
    }
}

@media screen and (width >= 1024px) {
    .card{
        max-width: 768px;
    }
}
  
@media screen and (width >= 1200px){
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .card {
        max-width: 1024px;
    }
}
  