<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <label for="author">Auteur :</label>
    <input type="text" id="author" formControlName="author" />
    @if (bookForm.get('author')?.invalid && bookForm.get('author')?.touched) {
        <p>
            Nom de l'auteur requis (entre 5 et 50 caractères)
        </p>
    }

    <label for="description">Description :</label>
    <input type="textarea" id="description" formControlName="description" />
    @if (bookForm.get('description')?.invalid && bookForm.get('description')?.touched) {
        <p>
            Description requise (entre 10 et 255 caractères)
        </p>
    }

    <label for="title">Titre :</label>
    <input type="text" id="title" formControlName="title" />
    @if (bookForm.get('title')?.invalid && bookForm.get('title')?.touched) {
        <p>
            Titre requis (entre 2 et 35 caractères)
        </p>
    }

    <button type="submit" [disabled]="bookForm.invalid">Créer</button>
</form>